{% extends "HOME\base.html" %}
{% load static %}

{% block title %} Three.js with OrbitControls {% endblock %}
    
{% block style %}<link rel="stylesheet" href="{% static 'TerrainGen/styles.css' %}">{% endblock %}


{% block body %}
    <div id="container"></div>
    <!-- Include Three.js -->
    <script src="https://cdn.jsdelivr.net/npm/three@0.128.0/build/three.min.js"></script>
    <!-- Include OrbitControls -->
    <script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/controls/OrbitControls.js"></script>

    <script src="{% static 'TerrainGen/script.js' %}"></script>

{% endblock %}


