{% extends "HOME/base.html" %}
{% load static %}

{% block title %} About Me {% endblock %}

{% block about %}<a class="active" href="{% url 'Home:about' %}"> About </a> {% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'HOME/about.css' %}">
{% endblock %}

{% block body %}

  <section class="about-section">
    <img src="https://as1.ftcdn.net/v2/jpg/02/22/85/16/1000_F_222851624_jfoMGbJxwRi5AWGdPgXKSABMnzCQo9RN.jpg" alt="Profile Picture">
    <h1>About Me</h1>
    <p>
      Hi, I'm [Your Name], a passionate software engineer with a strong interest in web development, 
      algorithms, and machine learning. I love building projects that solve real-world problems and 
      create efficient solutions. In my free time, I enjoy exploring new technologies and enhancing 
      my skills.
    </p>
    <a href="#projects">Check out my Projects</a>
  </section>

{% endblock %}
