{% extends "HOME\base.html" %}
{% load static %}

{% block title %} Home Page {% endblock %}

{% block home %}<a class="active" href="{% url 'Home:index' %}">Home</a> {% endblock %}

{% block body %}
    <div class="row" id="balls" style="background-color: rgb(200, 200, 200);">
        <div class="column">
            <h1> Welcome to my Personal Website</h1>
            <p> Here are some demonstrations of my personal projects and some 
                work I have done over the years. 
            </p>
        </div>
    </div>

    <div class="row" id="balls" style="background-color: rgb(150, 150, 150);">
        <div class="column">
            <h2>Bouncing Balls </h2>
            <p> Here is my first finished project that I started in 2020 during the pandemic.
                I was taking a computer science class at the time and wanted to explore 
                the subject and tried to make a simple physics engine with balls bouncing like 
                a windows DVD logo. Admittedly this took a lot longer to implement than I hoped and 
                I kept pushing updates for the project until I finally got it to a place I liked in 
                2024. Of course it could be improved, but I feel really proud of accomplishing this 
                as my first project.
            </p>
            <a href="{% url 'BouncingBalls:index' %}">Link to Full Sized App</a>
        </div>
        <div class="column">
            <iframe src="{% url 'BouncingBalls:preview' %}" title="balls preview"></iframe>
        </div>
    </div>

    <div class="row" id="spiral" style="background-color: rgb(100, 100, 100);">
        <div class="column">
            <h2>Prime Spiral</h2>
            <p> This is my second project that I've finished which is the prime spiral. 
                Starting with 1 at the origin, it marks prime numbers green and non-prime
                numbers black, slowly spiralling out to the edges of the screen where it stops.
                Also known as the ulam spiral, it shows the suprising patterns of prime numbers
                emerging from the tapestry and shows visually that prime numbers are not as 
                random as they seem.
            </p>
            <a href="{% url 'PrimeSpiral:index' %}">Link to Full Sized App</a>
        </div>
        <div class="column">
            <iframe src="{% url 'PrimeSpiral:preview' %}" title="spiral preview"></iframe>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <h2>Filler Text</h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim 
                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
                in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur 
                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
                mollit anim id est laborum.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <h2>Filler Text</h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim 
                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
                in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur 
                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
                mollit anim id est laborum.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <h2>Filler Text</h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim 
                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
                in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur 
                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
                mollit anim id est laborum.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <h2>Filler Text</h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim 
                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
                in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur 
                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
                mollit anim id est laborum.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <h2>Filler Text</h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim 
                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
                in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur 
                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
                mollit anim id est laborum.
            </p>
        </div>
    </div>

    <p>------------------------------------------------------------------------------------</p>
    
    <a href="{% url 'Home:index' %}">Useless</a>
    <a href="{% url 'SkillTree:index' %}">skilltree</a>
    <a href="#balls">Back to balls</a>

    <div class="footer">
        <p>Footer</p>
    </div>
    
    
{% endblock %}