{% extends "HOME/base.html" %}
{% load static %}

{% block title %} Benjamin Banh {% endblock %}

{% block home %}<a class="active" href="{% url 'Home:index' %}"> Home </a> {% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'HOME/home.css' %}">
{% endblock %}

{% block body %}
    <main>
        <!-- Home Section -->
        <div>
            <canvas class="home-canvas"></canvas>
            <script src="{% static 'balls/home.js' %}"></script>
        </div>

        <p class="secret-text"> :0 </p>
        <section class="home-section">
            <div class="heading-xxlarge">Benjamin Banh</div>
            <div class="heading-large">a lover of coding</div>
        </section>

        <div class="content">
            <a href="{% url 'Home:projects' %}">My Experience</a>
        </div>

        <!-- Image Section -->
        <div class="image-container">
            <img src="{% static 'HOME/images/me.jpg' %}" alt="ME.jpg">
        </div>

        <div class="mouse_container">
            <img src="{% static 'HOME/images/mouse_click.png' %}" alt="click here">
        </div>

        <!-- Icon Bar Section -->
        <section class="icon-bar">
            <a href="#email" class="icon-container" target="_blank" rel="noopener noreferrer">
                <img src="{% static 'HOME/images/email-icon.svg' %}" title="Email Me" alt="email icon">
            </a>
            <a href="https://www.linkedin.com/in/benjamin-banh/" class="icon-container" target="_blank" rel="noopener noreferrer">
                <img src="{% static 'HOME/images/linkedin-icon.svg' %}" title="LinkedIn" alt="LinkedIn">
            </a>
            <a href="https://github.com/benjbanh" class="icon-container" target="_blank" rel="noopener noreferrer">
                <img src="{% static 'HOME/images/github-icon.svg' %}" title="GitHub" alt="Github">
            </a>
            <a href="#download-resume" class="icon-container" target="_blank" rel="noopener noreferrer">
                <img src="{% static 'HOME/images/resume-icon.svg' %}" title="My Resume" alt="My Resume">
            </a>
        </section>
    </main>
{% endblock %}
