body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}
.about-section {
  background-color: #fff;
  color: #333;
  padding: 60px 20px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.about-section h1 {
  font-size: 36px;
  margin-bottom: 20px;
}
.about-section p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
}
.about-section img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 3px solid #ddd;
}

.about-section a {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-align: center;
    opacity: 90%;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.4;
}
.about-section a:hover {
    transition: opacity 1s;
    transition: text-shadow 1s;
    
    opacity: 90%;
    text-shadow: 1px 1px rgb(150, 150, 150);
}
.about-section a::after {
    content: '';
    display: block;
    width: 33%;
    height: 2px;
    background: black;
    transition: width .3s;
    margin: 0;
}
.about-section a:hover::after {
    width: 100%;
}