/* Reminder:
    All CSS here modifies the base html for base.html. 
    To change previews, change <style> div in HOME/prebase.html
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  background-color: whitesmoke;
  color: #333;
  scroll-behavior: smooth;
}

/* Home/index.html webpage */
.row {
    display: -webkit-flex;
    display: flex;
}

.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
  border:5px red;
}

/* Navigation Bar*/

.navbar {
    background: linear-gradient(to bottom, rgba(245, 245, 245, 0.75), rgba(245, 245, 245 , 0)); 
    overflow: hidden;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    display: block;
    top: 0; 
    width: 100vw;
    z-index: 10; 
    transition: top 0.7s;

    -webkit-user-select: none; 
    -ms-user-select: none;
    user-select: none; 
    
}

.navbar a {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    position: relative;
}

.navbar a:hover {
    transition: color 1.5s;
    color: rgb(0, 100, 255);
}

.navbar .active {
    color: rgb(0, 100, 255);
}

.navbar a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(44, 29, 29); 
    transition: width .3s;
    margin: auto;
}

.navbar a:hover::after {
    width: 100%; /* On hover, the underline will expand */
}

/* Footer */
.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}