/* Reminder:
    All CSS here modifies the base html for base.html. 
    To change previews, change <style> div in HOME/prebase.html
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  background-color: whitesmoke;
  color: #333;
  scroll-behavior: smooth;
}

a {
    color: #007cc9;
}
/* Home/index.html webpage */
.row {
    display: -webkit-flex;
    display: flex;
}

.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
  border:5px red;
}

iframe {
    padding: 0;
    margin: 0;
    border:0;
    width: 50vh;
    height: 30vh;
}

/* Navigation Bar*/

.navbar {
    /* background: linear-gradient(to bottom, rgb(100, 100, 100), rgba(0,0,0,0));  */
    overflow: hidden;
    text-align: center;
    padding: 10px 0;
    position: fixed;        /* makes it left justified*/
    display: block;
    top: 0; /* Sticks the navbar to the top */
    width: 100vw;
    z-index: 1000; /* Ensure it stays on top of other content */
    transition: top 0.7s;
    
}

.navbar a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    position: relative;
}

.navbar a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: black; /* White underline */
    transition: width .3s;
    margin: auto;
}

.navbar a:hover::after {
    width: 100%; /* On hover, the underline will expand */
}
/* Footer */
.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}